matplotlib==3.3.3
pandas==1.1.5
scipy==1.5.4
imutils==0.5.3
scikit_image==0.17.2
numpy==1.19.3
opencv-python-headless==4.4.0.46
email_validator==1.1.2
streamlit==0.73.1
Pillow==8.1.0
idna==2.5.0
wheel==0.36.2
setuptools==51.1.2
pdf2image==1.14.0
mysql-connector-python==8.0.22
jedi==0.17.0
validators==0.18.2
scikit-image~=0.17.2